<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>home</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Voltar</a>
        </div>

        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
        </div>
      </nav>

      
       <!--Formulário de cadastro-->
    <fieldset class=" ms-5  position-absolute top-50 start-0 w-75">
      <legend>Editar senha</legend>

      <form class="row g-3" method="POST" action="/update_senha" >

        <div class="mb-3">
            <label for="senhaActual" class="form-label">Senha actual</label>
            <input type="password" class="form-control" name="senha_actual" id="senhaActual">
          </div>

          <div class="mb-3">
            <label for="novaSenha" class="form-label">Nova senha</label>
            <input type="password" class="form-control" name="nova_senha" id="novaSenha">
          </div>

          <div class="mb-3">
            <label for="repetirNovaSenha" class="form-label">Repetir nova senha</label>
            <input type="password" class="form-control" name="repetir_nova_senha" id="repetirNovaSenha">
          </div>

        <% if(validacao.length > 0){%>
          <div class="alert alert-danger">
            <strong>Atenção!</strong>
            <ul>
              <%for( var i = 0; i < validacao.length; i++){%>
              <li><%=validacao[i].msg%></li>
              <%}%>
            </ul>
          </div>
          <%}%>
          
          <div>
            <% if(registo.length > 0){%>
            <p class="text-success"><%=registo%></p>
            <%}%>
          </div>


        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-3">actualizar</button>
        </div>

      </form>
    </fieldset>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


  </body>
</html>
